.home {
  z-index: 2;
  position: relative;
  height: 100vh;
  min-height: 500px;
}

.content {
  position: relative;
  z-index: 2;
}

footer {
  z-index: 3;
  position: relative;
}

#homepage-particles canvas {
  background: #fccb90;
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.gradient-custom-2 {
  background: #fccb90;
  background: linear-gradient(to right, #ee7724BB, #d8363aBB, #dd3675BB, #b44593BB);
}

img {
  max-width: stretch;
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

.main-chat-box {
  height: 80vh;
  width: 90%;
  max-width: 1200px;
}

.chat-container {
  position: relative;
}
